* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: container(1400, 115, 20);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Manrope";
}

ul {
  list-style-type: none;
}

input:focus {
  outline: none;
}

body {
  font-family: "Manrope";
}

.dark-mode * {
  .home * {
    color: #fff;
    .home__info button {
      background-color: grey;
    }
  }

  .stats__container {
    background-color: black;
    color: #fff;
    .stats__header__title {
      color: #fff;
    }
  }

  .service * {
    color: #fff;
    .service__card {
      background-color: black;
      color: white;
      .service__bullet__points p {
        color: #fff;
      }
    }
  }
  .nav__container {
    color: #fff;
    .nav__list__link {
      color: #fff;
    }
    #navbar-responsive{
      background-color: black;
      .res__nav__link {
        color: #fff;
      }

      .dark-mode{
        background-color: #fff;
        .dark__light__mode {
          background-color: transparent;
        }
      }
    }

    .humburger {
      background-color: white;
      .hamburger__btn img {
        background-color: #fff;
      }
    }
  }
  background-color: black;
  color: white;
}